:root {
    /* Images */
    --backgroung-image: url('/resources/Images/background.avif');
    --ttt-logo: url('/resources/Images/ttt_logo.jpg');

    /* Colors */
    --primary-color: #00408E;
    --bg-color: #FAFBFF;
    --placeholder-text-color: #E2E2E2;
}